@model List<BTL_NguyenVanTruong_.Models.KhachHangModel>


@{
    ViewData["Title"] = "Customers";
    var errorMessage = TempData["errorMessage"]?.ToString();
    var successMessage = TempData["successMessage"]?.ToString();
}
@if (!string.IsNullOrWhiteSpace(@successMessage))
{
    <div class="alert alert-success"> 
        <b> Success : </b>@successMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss = "alert" aria-label="Close"></button>
    </div>
}else if(!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <b> Success : </b>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss = "alert" aria-label="Close"> </button>
    </div>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/CloneShopee/Image/Favicon.png">
    <title>ADMIN</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/admin.css">
    <link rel="stylesheet" href="/CSS/Customers.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
</head>
<body>
    <div id="frame">
        
        <div id="content-page">
            
            <div class="product">
                <h2> <i class="fa-solid fa-circle-arrow-right" style="font-size: 30px; color: blue; margin-top: 10px;"></i>&nbsp;&nbsp;QUẢN LÝ KHÁCH HÀNG</h2>
                <a asp-action="CreateCustomer" asp-controller="Customer" class="btn btn-primary mb-3"> Create Customer</a>
                <div class="dialog overlay" id="my-dialog">
                 <a href="#" class="overlay-close"></a>             
             </div>
                
           </div>
            <table border="1" style="border-collapse: collapse; border: 1px solid #fff;">
                <thead>
                  <tr>
                    <th class="stt">ID</th>                   
                    <th class="name">Tên khách hàng</th>
                    <th class="seri">Giới tính</th>
                    <th class="nameproduct">Địa chỉ</th>
                    <th class="cate-gory">Số điện thoại</th>
                    <th class="date">Email khách hàng</th>
                    <th class="edit">Thao tác</th>
                    
                  </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach(var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.TenKH</td>
                                <td>@item.GioiTinh</td>
                                <td>@item.DiaChi</td>
                                <td>@item.SDT</td>
                                <td>@item.Email</td>
                                <td>
                                    <a asp-action="EditCustomer" asp-controller="Customer" class="btn btn-primary btn-sm" asp-route-id="@item.Id" style="width:65px">Edit</a>
                                    <a asp-action="DeleteCustomer" asp-controller="Customer" class="btn btn-danger btn-sm" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <h3>null</h3>
                    }

                    

                </tbody>
                 
            </table>
        </div>
    </div>
    <script src="/JAVACRIPT/admin.js"></script>
</body>
 </html>   
